:root {
  --fuente-principal: "Playfair Display SC", serif;
  --fuente-secundaria: "Montserrat", sans-serif;
  --fuente-cursiva: 'Rouge Script', cursive;
  --fuente-sacramento: "Sacramento", cursive;
  --blanco: #fff;
  --negro: #000;
  --gris: #ccc;
  --grisClaro: #eee;
  --grisOscuro: #808080;
  --rosa: #f4e5e2;
  --rosaClaro: #ebceca;
  --rosaOscuro: #d1ada1;
  --azulClaro: #97adc2;
  --azulOscuro: #7c8d9f;
  --gris: #5e5745;
  --lila: #E1D6DE;
  --amarillo: #fffadd;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuente-principal);
  /* overflow-x: hidden; */
  background-image: url('/img/floresBG.jpeg');
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}

.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--blanco);
  padding: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  /* padding: 0 2rem 0 0; */
  padding: 0;
  background-color: var(--lila);
}

@media (max-width: 768px) {
  .contenedor {
    width: min(90%, 120rem);
    padding: 0;
  }
}

/* ====== HEADER ====== */
.header {
  /* background-color: var(--negro); */
}

.imagen {
  width: auto;
  height: 70vh;
  /* background-image: url("/img/Invitacion1.jpeg"); */
  background-image: url("/img/imgVeroJim.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* Convierte la imagen en blanco y negro */
  /* filter: grayscale(100%); */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .imagen {
    width: 100%;
    height: 100vh;
    background-size: contain;
  }
}

.titulo {
  font-size: 20px;
}

.nombres {
  font-size: 50px;
  font-family: var(--fuente-cursiva);
}

.fecha {
  font-size: 16px;
}

.bautizo {
  font-size: 20px;
}

.titulo,
.nombres,
.fecha,
.bautizo {
  color: var(--blanco);
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin: 0.2rem;
}

@media (min-width: 768px) {
  .titulo {
    font-size: 25px;
  }

  .nombres {
    font-size: 80px;
  }

  .fecha {
    font-size: 50px;
  }

  .bautizo {
    font-size: 25px;
  }

  .titulo,
  .nombres,
  .fecha,
  .bautizo {
    padding: 0;
    margin: 2rem 0;
  }
}

/* Main */
.contenedor-principal {
}

.contenedor-principal h2 {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 0;
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .contenedor-principal h2 {
    font-size: 10rem;
  }
}

.fechas .contenedor-fechas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.campo-fecha p,
.campo-fecha span {
  margin: 1rem 0;
  padding: 0;
}

.campo-fecha p {
  font-size: 2.2rem;
}

.campo-fecha span {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .campo-fecha p {
    font-size: 6rem;
  }

  .campo-fecha span {
    font-size: 4rem;
  }
}

/* SECCION: TE ESPERAMOS */
.contenedor-espera {
}

.contenedor-espera h3 {
  color: #000;
  text-align: center;
  font-size: 3rem;
  font-family: var(--fuente-sacramento);
  margin: 10rem 0 0 0;
}

@media (min-width: 768px) {
  .contenedor-espera h3 {
    font-size: 6rem;
  }
}

.contenedor-fecha-boda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contenedor-fecha-boda .campo-fecha-boda {
}

.contenedor-fecha-boda .campo-fecha-boda p {
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  border-top: 0.2rem solid #000;
  border-bottom: 0.2rem solid #000;
  text-align: center;
  padding: 1rem;
  margin: 5rem 0;
}

.contenedor-fecha-boda .campo-fecha-boda:nth-child(2) p {
  font-size: 4rem;
  border: none;
  margin: -1.5rem 0 0 0;
  padding: 0;
  line-height: 1; /* o ajusta a 0.8 si sigue muy abajo */
}

@media (min-width: 768px) {
  .contenedor-fecha-boda .campo-fecha-boda p {
    font-size: 3rem;
  }

  .contenedor-fecha-boda .campo-fecha-boda:nth-child(2) p {
    font-size: 8rem;
    margin: -3rem 0 0 0;
  }
}

/* CEREMONÍA */
.ceremonia,
.fiesta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ceremonia svg,
.fiesta svg {
  width: 15rem;
  height: 15rem;
  margin-top: 3rem;
}

.ceremonia h4,
.fiesta h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 4rem 0;
}

.ceremonia p,
.fiesta p {
  color: #000;
  font-size: 2rem;
  text-align: center;
  margin: 0 0 4rem 0;
}

.ceremonia a,
.fiesta a {
  text-decoration: none;
  border: none;
  color: #fff;
  background-color: #000;
  font-size: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  /*transiciónsuave*/
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, color 0.5s ease;
  -ms-transition: background-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, color 0.5s ease;
}

.ceremonia a:hover,
.fiesta a:hover {
  background-color: #fff;
  color: #000;
}

@media (min-width: 768px) {
  .ceremonia svg,
  .fiesta svg {
    width: 20rem;
    height: 20rem;
  }

  .ceremonia h4,
  .fiesta h4 {
    font-size: 6rem;
  }

  .ceremonia p,
  .fiesta p {
    font-size: 4rem;
  }

  .ceremonia a,
  .fiesta a {
    font-size: 4rem;
  }
}

/* Section */
.contenedor-secundario {
}

.contenedor-secundario h3,
.contenedor-secundario p {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.contenedor-secundario h3 {
  font-size: 3rem;
  padding: 2rem;
}

.contenedor-secundario p {
  font-size: 3.5rem;
  margin: 1rem 0 5rem 0;
  padding: 1rem;
}

.contenedor-secundario .lugar,
.contenedor-secundario .ceremonia-fin,
.contenedor-secundario .brindis,
.contenedor-secundario .platillo,
.contenedor-secundario .fiesta-final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor-secundario .lugar svg,
.contenedor-secundario .ceremonia-fin svg,
.contenedor-secundario .brindis svg,
.contenedor-secundario .platillo svg,
.contenedor-secundario .fiesta-final svg {
  width: 15rem;
  height: 15rem;
  margin: 0 0 3rem 0;
}

@media (min-width: 768px) {
  .contenedor-secundario h3 {
    font-size: 6rem;
  }

  .contenedor-secundario p {
    font-size: 7rem;
  }

  .contenedor-secundario .lugar svg,
  .contenedor-secundario .ceremonia-fin svg,
  .contenedor-secundario .brindis svg,
  .contenedor-secundario .platillo svg,
  .contenedor-secundario .fiesta-final svg {
    width: 20rem;
    height: 20rem;
  }
}
