:root {
  --fuente-principal: "Playfair Display SC", serif;
  --fuente-secundaria: "Montserrat", sans-serif;
  --fuente-rougue: "Rouge Script", cursive;
  --blanco: #fff;
  --negro: #000;
  --gris: #ccc;
  --grisClaro: #eee;
  --grisOscuro: #808080;
  --rosa: #f4e5e2;
  --rosaClaro: #ebceca;
  --rosaOscuro: #d1ada1;
  --azulClaro: #97adc2;
  --azulOscuro: #7c8d9f;
  --gris: #5e5745;
  /* --lila: #e1d6de; */
  --lila: #e8ddff;
  --amarillo: #fffadd;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuente-principal);
  /* overflow-x: hidden; */
  background-image: url("/img/floresBG.jpeg");
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}

.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--blanco);
  padding: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  /* padding: 0 2rem 0 0; */
  padding: 0;
  background-color: var(--lila);
}

@media (max-width: 768px) {
  .contenedor {
    width: min(90%, 120rem);
    padding: 0;
  }
}

/* ====== HEADER ====== */
.header {
  /* background-color: var(--negro); */
}

.imagen {
  width: auto;
  height: 100vh;
  background-image: url("/img/imgInvitiacion.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: var(--lila);
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .imagen {
    height: 82vh;
    width: 100%;
    background-size: contain;
  }
}

.titulo {
  font-size: 20px;
}

.nombres {
  font-size: 50px;
  font-family: var(--fuente-principal);
}

.fecha {
  font-size: 16px;
}

.bautizo {
  font-size: 20px;
}

.titulo,
.nombres,
.fecha,
.bautizo {
  color: var(--blanco);
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin: 0.2rem;
}

@media (min-width: 768px) {
  .titulo {
    font-size: 25px;
  }

  .nombres {
    font-size: 80px;
  }

  .fecha {
    font-size: 50px;
  }

  .bautizo {
    font-size: 25px;
  }

  .titulo,
  .nombres,
  .fecha,
  .bautizo {
    padding: 0;
    margin: 2rem 0;
  }
}

/* Main */
.contenedor-principal {
}

.contenedor-principal h2 {
  color: #000;
  text-align: center;
  font-family: var(--fuente-rougue);
  /* text-transform: uppercase; */
  font-size: 6rem;
  font-weight: 400;
  margin: 0;
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .contenedor-principal h2 {
    font-size: 10rem;
  }
}

.contenedor-principal .padrinos h2 {
  margin: 0;
  padding: 1rem;
}

.contenedor-principal .padrinos h3 {
  font-size: 4rem;
  font-family: var(--fuente-principal);
  font-weight: 400;
}

.contenedor-principal .padrinos p {
  font-size: 2.5rem;
  font-family: var(--fuente-secundaria);
}

.fechas .contenedor-fechas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
}

.campo-fecha p,
.campo-fecha span {
  margin: 0;
  padding: 0;
}

.campo-fecha p {
  font-size: 2.2rem;
}

.campo-fecha span {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .campo-fecha p {
    font-size: 6rem;
  }

  .campo-fecha span {
    font-size: 4rem;
  }
}

/* SECCION: TE ESPERAMOS */
.contenedor-espera {
}

.contenedor-espera h3 {
  color: #000;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  font-family: var(--fuente-secundaria);
  margin: 10rem 0 0 0;
}

@media (min-width: 768px) {
  .contenedor-espera h3 {
    font-size: 6rem;
  }
}

.contenedor-fecha-boda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contenedor-fecha-boda .campo-fecha-boda {
}

.contenedor-fecha-boda .campo-fecha-boda p {
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  border-top: 0.2rem solid #000;
  border-bottom: 0.2rem solid #000;
  text-align: center;
  padding: 1rem;
  margin: 5rem 0;
}

.contenedor-fecha-boda .campo-fecha-boda:nth-child(2) p {
  font-size: 4rem;
  border: none;
  margin: -1.5rem 0 0 0;
  padding: 0;
  line-height: 1; /* o ajusta a 0.8 si sigue muy abajo */
}

@media (min-width: 768px) {
  .contenedor-fecha-boda .campo-fecha-boda p {
    font-size: 3rem;
  }

  .contenedor-fecha-boda .campo-fecha-boda:nth-child(2) p {
    font-size: 8rem;
    margin: -3rem 0 0 0;
  }
}

/* CEREMONÍA */
.ceremonia,
.fiesta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ceremonia svg,
.fiesta svg {
  width: 15rem;
  height: 15rem;
  margin-top: 3rem;
}

.ceremonia h4,
.fiesta h4 {
  font-family: var(--fuente-rougue);
  font-weight: 400;
  text-align: center;
  font-size: 4rem;
  margin: 4rem 0;
}

.ceremonia p,
.fiesta p {
  color: #000;
  font-family: var(--fuente-secundaria);
  font-size: 2rem;
  text-align: center;
  margin: 0 0 4rem 0;
}

.ceremonia a,
.fiesta a {
  text-decoration: none;
  border: none;
  color: var(--amarillo);
  background-color: var(--negro);
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 5rem;
  border-radius: 10rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  /*transiciónsuave*/
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, color 0.5s ease;
  -ms-transition: background-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, color 0.5s ease;
}

.ceremonia a:hover,
.fiesta a:hover {
  background-color: #fff;
  color: #000;
}

@media (min-width: 768px) {
  .ceremonia svg,
  .fiesta svg {
    width: 20rem;
    height: 20rem;
  }

  .ceremonia h4,
  .fiesta h4 {
    font-size: 6rem;
  }

  .ceremonia p,
  .fiesta p {
    font-size: 4rem;
  }

  .ceremonia a,
  .fiesta a {
    font-size: 4rem;
  }
}

/* Section */
.contenedor-confirma {
  margin-bottom: 1rem;
}

.contenedor-confirma h3,
.contenedor-confirma p {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.contenedor-confirma h3 {
  font-size: 3rem;
  padding: 2rem;
}

.contenedor-confirma p {
  font-size: 3.5rem;
  margin: 1rem 0 5rem 0;
  padding: 1rem;
}

.contenedor-confirma .lugar,
.contenedor-confirma .ceremonia-fin,
.contenedor-confirma .brindis,
.contenedor-confirma .platillo,
.contenedor-confirma .fiesta-final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor-confirma .lugar svg,
.contenedor-confirma .ceremonia-fin svg,
.contenedor-confirma .brindis svg,
.contenedor-confirma .platillo svg,
.contenedor-confirma .fiesta-final svg {
  width: 15rem;
  height: 15rem;
  margin: 0 0 3rem 0;
}

.contenedor-confirma .ceremonia-fin svg {
}

@media (min-width: 768px) {
  .contenedor-confirma h3 {
    font-size: 6rem;
  }

  .contenedor-confirma p {
    font-size: 7rem;
  }

  .contenedor-confirma .lugar svg,
  .contenedor-confirma .ceremonia-fin svg,
  .contenedor-confirma .brindis svg,
  .contenedor-confirma .platillo svg,
  .contenedor-confirma .fiesta-final svg {
    width: 20rem;
    height: 20rem;
  }
}

/* CONFIRMAR */
.contenedor-formulario {
  padding: 1rem;
  background-color: var(--lila);
  overflow: hidden;
}

.contenedor-formulario h2 {
  text-align: center;
  font-family: var(--fuente-rougue);
  font-weight: 400;
  font-size: 5rem;
  padding: 1rem;
  color: var(--negro);
}

.icono-confirmar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icono-confirmar svg {
  fill: var(--grisClaro);
  stroke: var(--negro);
  width: 15rem;
  height: 15rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.formulario label {
  text-align: center;
  font-size: 3rem;
  font-family: var(--fuente-secundaria);
  color: var(--negro);
  padding: 1rem;
}

.formulario input[type="text"] {
  width: 100%;
  color: var(--grisOscuro);
  font-size: 1.6rem;
  font-family: var(--fuente-secundaria);
  padding: 1rem;
  margin: 1rem 0;
  border: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .formulario input[type="text"] {
    width: auto;
    font-size: 2rem;
  }
}

.formulario input[type="submit"] {
  color: var(--amarillo);
  background-color: var(--negro);
  font-size: 2rem;
  font-family: var(--fuente-principal);
  text-align: center;
  padding: 1.5rem;
  margin: 2rem 0;
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.formulario input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--blanco);
  color: var(--negro);
  font-weight: bold;
}

.formulario textarea {
  resize: none;
  padding: 1rem;
  width: 100%;
  min-height: 10rem;
  font-size: 2rem;
  color: var(--negro);
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  font-family: var(--fuente-secundaria);
}

/* FORMULARIO CONFIRMACIÓN */
.contenedor-confirmacion {
  padding: 1rem;
  background-color: var(--lila);
  font-family: var(--fuente-secundaria);
}

.contenedor-confirmacion h1 {
  font-family: var(--fuente-rougue);
  font-weight: 400;
  font-size: 3rem;
  color: var(--negro);
  padding: 1rem;
  margin: 5rem 0;
}

@media (min-width: 768px) {
  .contenedor-confirmacion h1 {
    font-size: 4rem;
  }
}

.contenedor-confirmacion h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--grisOscuro);
  padding: 1rem;
  margin: 1rem 0;
}

.contenedor-confirmacion h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--negro);
  padding: 1rem;
  margin: 1rem 0;
}

.contenedor-confirmacion .formulario-confirmacion h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--grisOscuro);
  padding: 1rem;
  margin: 1rem 0;
}

.contenedor-confirmacion h3 span {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--grisOscuro);
  padding: 1rem;
  margin: 1rem 0;
}

.contenedor-confirmacion .formulario-confirmacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem 0;
}

.contenedor-confirmacion .formulario-confirmacion fieldset {
  background-color: var(--amarillo);
  padding: 2rem 2rem 0 2rem;
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.contenedor-confirmacion .formulario-confirmacion .campo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Para que el contenedor del input y label ocupe todo el ancho */
  max-width: 500px;
  margin: 1rem 0;
}

.contenedor-confirmacion .formulario-confirmacion label {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
  color: var(--grisOscuro);
  text-transform: uppercase;
  width: 12rem;
}

.contenedor-confirmacion .formulario-confirmacion input[type="number"] {
  padding: 1rem;
  margin: 1rem 0;
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  color: var(--grisOscuro);
  font-size: 1.8rem;
  width: 10rem;
}

.contenedor-confirmacion .formulario-confirmacion input[type="submit"] {
  padding: 1rem;
  margin: 5rem 0 3rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: var(--blanco);
  color: var(--grisOscuro);
}

.contenedor-confirmacion .formulario-confirmacion input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--lila);
  color: var(--blanco);
  font-weight: bold;
}

/* TABLA */
.contenedor-tabla {
    width: 100%;
    overflow: auto;
}

.tabla {
    width: 60%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 1rem;
}

.tabla thead {
    background-color: var(--rosaOscuro);
}

.tabla thead th {
    font-size: 3rem;
    font-family: var(--fuente-secundaria);
    text-align: center;
    text-transform: uppercase;
    color: var(--blanco);
    padding: 1rem;
}

.tabla tbody {
    background-color: var(--azulOscuro);
}

.tabla tbody tr td {
    color: var(--rosa);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}